<h3>
  <%= link_to article.title, article.url, class: "text-black no-underline" %>
</h3>
<time class="text-sm font-semibold uppercase text-grey-dark"><%= article.date.strftime('%b %e %Y') %></time>

<div class="summary">
  <%= article.summary %>
</div>
<p class="mb-6">
  <%= link_to "Read more...", article.url, class: "text-grey-darker no-underline hover:text-grey-darkest hover:underline" %>
</p>
