<div class="flex md:block lg:flex items-center max-w-full">
  <div class="mb-0 md:mb-4 lg:mb-0 flex flex-no-shrink pr-4 md:pr-6 lg:pr-12">
    <a href="/" class="flex items-center no-underline">
      <%= image_tag "profile.jpg", class: "h-10 w-10 md:h-12 md:w-12 lg:h-20 lg:w-20 rounded-full" %>
    </a>
  </div>
  <div>
    <%= link_to "Arandi López", "/", class: "block text-black no-underline font-bold text-xl lg:text-3xl font-extrabold leading-none lg:leading-tight" %>
    <nav class="hidden md:flex mt-3 lg:mt-4 uppercase tracking-wide text-xs spaced-x-6">
      <%= link_to "Resume", "/resume", class: "text-grey-dark font-semibold no-underline hover:text-black mr-6" %>
      <%#= link_to "Articles", "/", class: "text-grey-dark font-semibold no-underline hover:text-black mr-6" %>
    </nav>
  </div>
</div>
