---
layout: default
---
<article class="max-w-xs sm:max-w-3xl mx-auto">
    <h1>{{ page.title }}</h1>
    <ul class="hidden sm:flex items-center space-x-2 text-xs font-mono mb-3 list-none">
        {% for tag in page.tags %}
            <li class="flex-grow-0 rounded px-2 py-1 bg-gray-200">{{ tag }}</li>
        {% endfor %}
    </ul>

    {{ content }}
</article>
