<section class="resume-section" id="about">
  <!-- <div class="my-auto">
    <h1 class="mb-0">Arandi
      <span class="text-primary">López</span>
    </h1>
    <div class="subheading mb-5">Merida, YUC, Mexico ·
      <%= mail_to 'arandilopez.93@gmail.com' %>
    </div>
    <p class="mb-5">
      I'm a Software Engineer experienced in web development using agile frameworks to provide robust solutions. Passionate Open Source contributor.
    </p>
    <ul class="list-inline list-social-icons mb-0">
      <li class="list-inline-item">
        <a href="https://twitter.com/arandilopez" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/arandilopez" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> -->
</section>
