<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto">
    <h2 class="mb-5">Awards &amp; Mentions</h2>
    <ul class="fa-ul mb-0">
      <li class="mb-3">
        <i class="fa-li fa fa-trophy text-warning"></i>
        University Merit Award in Software Engineering, at Universidad Autónoma de Yucatán, 2014
      </li>
      <div class="subheading mb-3">Having taught</div>
      <li>
        <i class="fa-li fas fa-certificate text-warning"></i>
        Starting with GNU/Linux in 2013 &amp; 2014 at UMT and FMAT
      </li>
      <li>
        <i class="fa-li fas fa-certificate text-warning"></i>
        Starting with Angular.js in 2014 at FMAT UADY
      </li>
      <li>
        <i class="fa-li fas fa-certificate text-warning"></i>
        Git in 2015 &amp; 2016 at FMAT UADY
      </li>
      <li class="mb-3">
        <i class="fa-li fas fa-certificate text-warning"></i>
        Introduction to Web Development in 2016 at FMAT UADY
      </li>
      <div class="subheading mb-3">Having directed</div>
      <li class="mb-3">
        <i class="fa-li fas fa-certificate text-warning"></i>
        #AppChallenge FMAT in 2014, 2015 &amp; 2016
      </li>
    </ul>
  </div>
</section>
