<section class="resume-section" id="skills">
  <!-- <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-php"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-laravel"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-ruby"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-ruby_on_rails"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-javascript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-sass"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-bootstrap"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-atom"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-git"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-linux"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-apple"></i>
      </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        Mobile-First, Responsive Design
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Software Testing &amp; Debugging
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Agile Development
      </li>
    </ul>
  </div> -->
</section>
