<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/assets/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/assets/apple-icon-180x180.png">
    <link rel="manifest" href="/manifest.json">
    {% vite_client_tag %}
    {% vite_javascript_tag application %}
    {% vite_stylesheet_tag styles %}
  </head>
  <body class="h-dvh">
    <header>
      {% include navbar.html %}
    </header>
    <main>
      {{ content }}
    </main>
    {% if page.layout == 'post' %}
    <footer class="footer sm:footer-horizontal footer-center text-base-content p-4">
      {% include footer.html %}
    </footer>
    {% endif %}
  </body>
</html>

