---
layout: default
---
<div class="container mx-auto px-4 py-8">
  <article class="prose md:prose-lg lg:prose-xl max-w-none dark:prose-invert">
    <h1 class="!text-3xl md:!text-4xl lg:!text-5xl !font-extrabold !leading-tight !mb-3">
      {{ page.title }}
    </h1>

    {% if page.date or page.tags.size > 0 %}
    <div class="flex flex-wrap items-center text-neutral text-sm mb-6">
      {% if page.date %}
      <time datetime="{{ page.date | date_to_xmlschema }}" class="mr-4">
        Published on {{ page.date | date: "%B %d, %Y" }}
      </time>
      {% endif %}
      {% if page.tags.size > 0 %}
      <div class="flex items-center">
        <span class="font-semibold mr-2">Tags:</span>
        <div class="flex flex-wrap">
          {% for tag in page.tags %}
          <span class="mr-1 mb-1 px-2 py-1 bg-base-200 text-base-content rounded text-xs">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if page.description %}
    <p class="text-xl md:text-2xl font-normal text-gray-700 dark:text-gray-300 mb-8">
      {{ page.description }}
    </p>
    {% endif %}

    {{ content }}
    
  </article>
</div>
