---
layout: false
sitemap_noindex: true
directory_index: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404: Page not found</title>
    <%= partial 'partials/favicons' %>
    <%= stylesheet_link_tag "site" %>
    <style media="screen">
    body {
      padding: 0;
    }
    .page-wrap {
      min-height: 100vh;
    }
    </style>
  </head>
  <body>
    <div class="page-wrap flex justify-center items-center">
        <div class="container">
          <div class="text-center">
              <h1 class="text-3xl block text-black">404</h1>
              <div class="my-4 leading-tight">Oops! The page you are looking for was not found.</div>
              <%= link_to "&laquo; Back to Home", "/", class: "text-black no-underline" %>
          </div>
        </div>
    </div>
  </body>
</html>
