---
title: Articles
description: Published Articles
priority: 1
---
<section>
  <% articles.each do |article| %>
  <article>
    <%= partial 'partials/demo_article', locals: {article: article} %>
  </article>
  <% end %>
</section>
