---
title: Arandi López
---
<section class="text-lg text-grey-darkest leading-normal spaced-y-6">
  <h1 class="text-xl font-extrabold text-black mb-4">Hello there...</h1>
  <p>
    I'm a Software Engineer experienced in web development using agile frameworks to provide robust solutions.
    <br>
    Passionate Open Source advocate.
  </p>
</section>
