---
title: Arandi López
priority: 1
---
<section class="text-lg text-grey-darkest leading-normal">
  <h1 class="text-xl font-extrabold text-black mb-4">Hello there...</h1>
  <p class="mb-6">
    I'm a Software Engineer experienced in web development using agile frameworks to provide robust solutions.
    <br>
    Passionate Open Source advocate.
  </p>

  <p class="mb-6">
    Currently I'm working at <%= link_to "BoxFactura", "https://www.boxfactura.com", target: '_blank', class: 'text-black font-semibold' %>
    as a Software Engineer conding on <span class="text-black font-semibold">Ruby on Rails</span>.
    <br>
    Check out <%= link_to "my resume", "/resume", class: 'text-black font-semibold' %> for more details.
  </p>

  <p class="mb-6">
    You can find on twitter as <%= link_to "@arandilopez", "https://twitter.com/arandilopez", target: '_blank', class: 'text-black font-semibold' %>
    and check out some of my work at my <%= link_to "Github", "https://github.com/arandilopez", target: '_blank', class: 'text-black font-semibold' %>
    profile.
  </p>
</section>
