---
title: Resume
description: Resume / CV
priority: 1
---
<article class="resume">
  <section class="resume-section" id="about-me">
    <div class="resume-item">
      <div class="resume-content">
        <p>
          Fullstack web developer interested in improving his development skills at companies in large-scale projects. He has a history of development of SaaS applications and tailored-made ERP systems. Regular contributor in open source projects. Interested in Data Science and Machine Learning topics.
        </p>
      </div>
    </div>
  </section>
  <div class="print:flex">
    <div class="main-info print:max-w-3/4">
      <section class="resume-section" id="experience">
        <h2 class="resume-section-title print:mb-3">Experience</h2>
        <% data.exp.each do |experience| %>
        <div class="resume-item">
          <div class="resume-content">
            <h3 class="mb-0"> <%= experience.role %> </h3>
            <div class="subheading">
              <%= link_to experience.company, experience.link, target: '_blank', class: 'font-semibold uppercase text-grey-darkest no-underline' %>
            </div>
            <div class="resume-date mb-2">
              <%= experience.date %>
            </div>
            <p>
              <%= experience.description %>
            </p>
          </div>
        </div>
        <% end %>
      </section>

      <section class="resume-section print:mb-0" id="education">
        <h2 class="resume-section-title print:mb-3">Education</h2>
        <div class="resume-item">
          <div class="resume-content">
            <h3>Universidad Autónoma de Yucatán</h3>
            <div class="subheading">Software Engineering</div>
            <div class="resume-date mb-2">
              <span class="text-sm text-grey-darker">January 2011 - Agoust 2015</span>
            </div>
            <p>
              <ul>
                <li>
                  Implemented falculty’s  moodle mobile application.
                </li>
                <li>
                  Gave several workshops in technologies like: Git, AngularJS, Web Development, Linux.
                </li>
                <li>
                  Co-organized App Challenge hackathons in 2014, 2015, and 2016.
                </li>
              </ul>
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="aside-info print:ml-8">
      <section class="resume-section" id="skills">
        <h2 class="resume-section-title print:mb-3">Skills</h2>

        <h4 class="text-leading font-semibold">Web Technologies &amp; Frameworks</h4>
        <p class="mb-2">
          Ruby on Rails, Laravel, VueJS, AngularJS
        </p>
        <h4 class="text-leading font-semibold">Programming Languages</h4>
        <p class="mb-2">
          Ruby, PHP, Javascript, Java, Python
        </p>
        <h4 class="text-leading font-semibold">Databases</h4>
        <p class="mb-2">
          PostgreSQL, MySQL, SQL Server
        </p>
        <h4 class="text-leading font-semibold">Versioning</h4>
        <p>
           Git &amp; SVN
        </p>
      </section>

      <section class="resume-section" id="aditionl-skills">
        <h2 class="resume-section-title print:mb-3">Aditional Skills</h2>

        <h4 class="text-leading font-semibold">Web Technologies &amp; Frameworks</h4>
        <p class="mb-2">
          Ruby on Rails, Laravel, VueJS, AngularJS
        </p>
        <h4 class="text-leading font-semibold">Programming Languages</h4>
        <p class="mb-2">
          Ruby, PHP, Javascript, Java, Python
        </p>
        <h4 class="text-leading font-semibold">Databases</h4>
        <p class="mb-2">
          PostgreSQL, MySQL, SQL Server
        </p>
        <h4 class="text-leading font-semibold">Versioning</h4>
        <p>
           Git &amp; SVN
        </p>
      </section>

      <section class="resume-section" id="awards">
        <h2 class="resume-section-title print:mb-3">Awards</h2>
        <p>
          <span class="font-semibold">University Merit Award</span> in Software Engineering, at Universidad Autónoma de Yucatán, 2014
        </p>
      </section>
    </div>
  </div>
</article>
