<div x-data="{open: false}">
    <nav class="relative navbar z-20 items-center justify-between" >
        <a href="/" class="no-underline avatar">
            <img src="https://www.gravatar.com/avatar/3d952ca670e67bf1fdcd515caae14629"
                 alt="Profile"
                 class="h-10 w-10 md:h-12 md:w-12 lg:h-20 lg:w-20 rounded-full" width="80" height="80" />
        </a>
        <div class="links flex flex-col">
            <a href="/" class="font-title font-bold text-gray-800 hover:text-black no-underline text-2xl md:text-4xl">
                {{ metadata.author }}
            </a>
            <div class="hidden sm:block flex mt-3 uppercase text-xs space-x-5">
                {% render "nav_links" %}
            </div>
        </div>
        <button class="burguer sm:hidden p-2" @click.prevent="open = !open">
            <svg x-show="!open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
            <svg x-show="open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </nav>
    <div x-show="open" class="sm:hidden z-10 bg-white fixed inset-0 pt-24">
        <div class="flex flex-col space-y-5 text-center uppercase">
            {% render "nav_links" %}
        </div>
    </div>
</div>
